@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    margin: 0;
}

.swiper {

    height: 600px;

    .swiper-slide {

        display: flex;
        align-content: center;
        background-size: cover;
        align-items: center;
        justify-content: center;

        #clickme {

            border: 2px #737be1 solid;
            border-radius: 25px;
            letter-spacing: 5px;
            padding: 5px 20px 5px 20px;
            font-size: 40px;
            color: white;
            text-decoration: none;
            background-color: transparent;
            transition: 0.5s;
        }

        #clickme:hover {

            border: 2px white solid;
            font-size: 55px;
            transition: ease 0.5s;
        }
    }

}

.container {

    background-image: url(img/bg.jpg);
    padding: 400px 5px 400px 5px;

    align-content: center;
    justify-content: center;

}

.man1 {

    margin-top: -200px;
    margin-right: 1200px;
    width: 300px;
    height: auto;
    
}

.man2 {

    margin-left: 1420px;
    margin-top: -820px;
    width: 300px;
    height: auto;
}

.online {

    margin-top: -380px;
    margin-left: 300px;
    font-size: 35px;
    color: white;
    display: flex;
    text-shadow: 1px 1px 2px lightblue, 0 0 1em black, 0 0 0.2em black;
}

.record {

    margin-top: 20px;
    margin-left: 300px;
    font-size: 35px;
    color: white;
    display: flex;
    text-shadow: 1px 1px 2px lightblue, 0 0 1em black, 0 0 0.2em black;
}

.wfw-real {

    margin-left: 580px;
    margin-top: -128px;

    color: white;
    font-size: 27px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 0px black, 0 0 0.2em black, 0 0 0.1em black;
}

.singature-not-misspelled {

    padding: 0px 0px 0px 0px;
    background-color: grey;
    justify-content: center;
    display: flex;
}